<p>register-customer works!</p>

<div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="customer.username" name="username" >
        </div>

        <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="customer.password" name="password" >
        </div>
        
        <div class="form-group">
            <label for="name">Customer Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="customer.name" name="name" >
        </div>

        <div class="form-group">
            <label for="name">Country</label>
            <input type="text" class="form-control" id="country" required [(ngModel)]="customer.country" name="country">
        </div>

        <div class="form-group">
            <label for="name">State</label>
            <input type="text" class="form-control" id="state" required [(ngModel)]="customer.state" name="state">
        </div>

        <div class="form-group">
            <label for="name">Gender</label>
            <input type="text" class="form-control" id="gender" required [(ngModel)]="customer.gender" name="gender">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" (click) = "onCancel()">Cancel</button>
    </form>
</div>
